/*
div.ezd6.sheet.character > section > form > section > div > div:nth-child(2) {display:none;}
.ezd6.sheet.character .sheet-body .body-outer-grid {
    display: grid;
    grid-template-columns: auto 0px;
}
*/
/*aside.journal-sidebar > nav.pages-list > ol.directory-list > li > ol {display:none !important;}*/
:root{
  --sidebar-item-height: 36px;
}

.sidebar-popout {height:auto !important;}
/*.window-content {padding:30px !important;}*/
/*time.message-timestamp{display:none;}*/
#tooltip {transition: visibility 0s 0ms, opacity 0ms !important}
a[data-tab="cards"], #cards {display:none;}
a[data-tab="settings"] > i.fa-exclamation-circle {display:none;}
div[id^="control-div"] {z-index:0;}
#token-hud  {z-index:1;}
div.edit-container {height:max-content !important;}
#chat-log > li > div > div > ol > li > img.result-image {display:none;}
/*.directory-item.document { height: 25px !important; }*/
/*.directory-item.document > img.thumbnail { height: 24px !important; width: 24px !important; flex: 0 0 24px;}*/
#hotbar {position: absolute; left: calc(50% - 370px); margin-bottom: 35px;}
#pause.paused {top: 60px;}
#logo {margin-bottom: 0px;}
/*#controls {}*/
/*.app.sidebar-popout {
  height: 90vh !important;
}*/
#controls {
  padding: 100px 0 400px 15px;
  position: absolute;
  pointer-events: all; 
  top: 0px;
  left: -110px;
  width: 150px;
  /*background: rgba(30,30,30,0.1)  !important;*/
  /*transition-timing-function: ease-out;
  transition-duration: 250ms;
  transition-property: left;*/
}
#controls:hover {
  left: 0px;
}

#navigation {
  margin-top: 0px;
  padding: 12px 0 40px 0;
	/*background: rgba(30,30,30,0.01)  !important;
	background-blend-mode: multiply ;*/
  position: absolute;
  pointer-events: all; 
  top: -55px;
  /*transition-timing-function: ease-in-out;
  transition-duration: 250ms;
  transition-property: top;*/
}
#navigation:hover {
  top: 0px;
}
#nav-toggle {display:none;}

#pause.paused > figcaption { text-shadow: 0 0 10px #ff0000; animation: pulse 2s infinite;}
#pause.paused > img {height: 50px; margin-top: 40px;}
div.control-buttons {flex: 0 0 auto !important; } 
@keyframes pulse {
	0% {
		/*transform: scale(0.95);*/
		text-shadow: 0 0 0px #ff0000
	}

	50% {
		/*transform: scale(1);*/
		text-shadow: 0 0 15px #ff0000
	}

	100% {
		/*transform: scale(0.95);*/
		text-shadow: 0 0 0px #ff0000
	}
}

li.control-tool.toggle.active {
  background: var(--color-shadow-highlight) !important;
  box-shadow: 0 0 10px var(--color-shadow-highlight) !important;
  border: 1px solid var(--color-shadow-highlight) !important;
}
/*
.editor-content {
  font-size: 120%;
}
*/
img {
	border: none;
}
.chat-message {
  background: #111;
  color: white;
  border: 1px solid #555;
}
a.entity-link, a.content-link, a.inline-roll, a.inline-chat, .my-inline-roll{
  background: rgba(30, 30, 30, 0.8) ;
  color: white;
  padding: 1px 4px;
  border: 1px solid #4b4a44;
  border-radius: 2px;
  white-space: nowrap;
  word-break: break-all;
}
.chat-message .inline-roll{
  background: rgba(30, 30, 30, 0.0) ;
  color: white;
  border: 1px solid #aaa;
}
.chat-message .inline-roll.blindroll{
  background: rgba(30, 30, 30, 0.0) ;
  color: white;
  border: 1px solid red;
}
.chat-message .inline-roll.gmroll{
  background: rgba(30, 30, 30, 0.0) ;
  color: white;
  border: 1px solid blue;
}
.chat-message.whisper {
  background: #111;
  border: 1px solid blue;
}
.chat-message.whisper.blind {
  background: #111;
  border: 1px solid red;
}
.chat-message {
  background: #111;
  color: white;
}
.dice-roll {
  position: relative;
}
.dice-formula, .dice-total, .dice-rolls {
  background: unset !important;
}
.dice-formula, .dice-total {
  border: 1px solid black !important;
  box-shadow: 0 0 2px #555 inset !important;
}

.message-sender {
  /*text-align: center;*/
  color: white;
}
.message-metadata * {
  /*display: none;*/
  color: #999;
}
.message-metadata i{
  /*display: none;*/
  color: #555;
}
.message-metadata i:hover{
  /*display: none;*/
  color: #DD0000;
}
.flavor-text {
  background: unset;
  color: white;
  /*text-align: center;*/
  /*font-size: 1.1em !important;*/
}
.chat-control-icon:hover {
	/*display: none;	*/
	text-shadow: 0 0 8px var(--color-shadow-primary);
	cursor: pointer;
}
#chat-controls .roll-type-select  {
	margin: 3.5px 1px 0px 5px;
	height: 20px;
	background: #111;
  color: white ;
}
#chat-controls .roll-type-select * {
	background: #111;
}
/*
#chat-form  {
	height: 50px;	
	flex-basis: 50px;
	flex: 0 0 50px !important;
}
*/
textarea#chat-message  {	
  background: #111;
  color: white ;
  border: 1px solid white;
  margin-left: -2px;
}

.jlnk__entity-link {
	color: rgba(30, 30, 30, 0.8) ;
	background: #DDD;
}

.sheet.journal-entry-page .window-content {
  padding: 8px !important;
  /*display: block !important;*/
}

.window-header,
.sidebar *,
.form-fields input, .form-fields a, .form-group input,
.sheet-header > h1 > * ,
.window-content,
.window-content button,
/*.journal-sheet > section > div.dialog-content > *,*/
.dialog > section > div.dialog-content input,
.journal-entry * input,  
.directory button, .directory input,
#settings button,
/*.dialog-content > form > * ,*/
/*.dialog-content > * > button ,*/
div.journal-sheet-container * button,
/*div.journal-sheet-container * input,*/
.dialog > section, .journal-entry-content,
/*.dialog > section > div.dialog-content  *, */
.dialog > section > * > button, 
.journal-sheet > section > * > button ,
.journal-sheet > section > * > input ,
.section-tab,
.journal-entry-page > section,
.editor-menu >  li > *,
.sidebar-popout,
.sidebar-popout > section > section > div > button,
.ace_tooltip, .ace_search, .ace_search * ,
#context-menu,
button *,
.binding span
{
  color: var(--color-text-light-highlight);
  /*color: rgba(255, 255, 255, .9) ;*/
  /*background-image: unset ;*/
	background: #111 !important;
  background-color: #111 !important;
}
option{
  color: var(--color-text-light-highlight);
  /*color: rgba(255, 255, 255, 1) ;*/
  background: #111 !important; ;
}
/*
.journal-page-content img {
  filter: invert(90%)
}*/
.form-fields input, .form-fields > div > a,
.sheet-header > h1 > * ,
.window-content * ,
label, select, a, textarea, input,
/*.journal-sheet > .window-content * ,*/
.dialog-button , 
.journal-sheet button,
.dialog > section > div.dialog-content,
.dialog-button,
.dialog > footer > button,
.journal-sheet > footer > button,
section > * > input,
.sheet *,
.package-configuration *,
.filepicker *
{
  color: var(--color-text-light-highlight);
  /*color: rgb(255 253 253 / 90%);*/
}
a.pin {color:unset;}
#chat-popout * {
  color: unset ;
}

p.notes {color: var(--color-text-light-primary)} 
.package-title , input
{
  color: var(--color-text-light-highlight) !important;
  /*color: rgb(255 253 253 / 90%);*/
}

.dialog .inline-roll {
	color: #000;
}
.tox > *  {
	background:  rgba(255, 255, 255 ,1) !important ;
}

#hotbar #macro-list {
    border: 1px solid #FFFFFF00;
	  flex: 0;
	  margin-right: 3px;
}
.flexrow .macro-list {
    border: 1px solid #FFFFFF00;
}
.hotbar-page .macro-list {
	flex: 0;/* 0 523px;*/
}
#hotbar .macro.inactive {
    box-shadow: 0 0 0px #444 inset;
}
.hotbar-page {
	transition: unset;
  width: 630px;
	bottom: 52px;
}
#hotbar {
    width: 600px;
	border-radius: 5px;
	bottom: 1px;
}
#hotbar .macro {
	margin: 0px 1px 2px 1px;
	position: relative;
  height: 50px;
  border: 1px solid #000;
  border-radius: 3px;
  background:  url(../../ui/denim075.png);
  box-shadow: 0 0 10px #000;
  cursor: pointer;
	
}
#macro-list {
	grid-column-gap:2px;	
}
#hotbar .bar-controls {
	height: 50px;
	margin: 1px 0px 0px 1px;
	flex: 0 0 32px;
	text-align: center;
	color: #c9c7b8;
	background: url(../../ui/denim075.png);
	border: 1px solid #000;
	box-shadow: 0 0 0px #444 inset;
	border-radius: 3px;
  box-shadow: 0 0 10px #000 !important;
}


